<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="https://www.w3.org/ns/widgets" 
		xmlns:ub=""
        id="" 
        version="1.2"
        width="800"
        height="600" 
        ub:resizable="false">     
   
		<name>版本更新内容</name>
		<author href=""
	            email=""></author>
		<description>OpenBoard 车厘子定制版版本更新内容</description>
		
		<content src="index.html"/>
</widget>
